h1{
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-left-style: double;
    border-left-width: 10px;
    border-right-style: double;
    border-right-width: 10px;
}
p{
    border-style: outset;
    border-width: 3px;
    border-color: goldenrod;
    border-radius: 10px;
    padding: 5px;
}