body{
    background-color: rgb(0, 0, 0);
}
h1{
    color: white;
    font-family: "press start 2P" ;
}
p{
    color: #00ff73;
    font-family: "press start 2P";
    font-style: italic;
    font-weight: lighter;
    text-decoration: dotted underline;
    font-size: 18px;
}